{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for lion in posts %}
  <br>
<div class="row"style="width: 50rem; margin-right: auto; margin-left: auto;  margin-bottom: 20px; padding:20px; ">
<div class="col-sm" align="center" style=" color:black; border">
<div class="card border-dark mb-3">
    <div class="card-body">
        <h5 class="card-title">{{lion.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{lion.pub_date}}</h6>
        <p class="card-text">{{lion.summary}}</p>
        <a href="{%url 'detail' lion.id%}" class="card-link">...more</a>
    </div>
</div>
</div>
</div>
{% endfor %}
{%if posts.has_previous%}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">Previous</a>
{%endif%}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{%if posts.has_next%}

<a href="?page={{posts.next_page_number}}">Next</a>
<a href="?page={{posts.paginator.num_pages}}">Last</a>

{%endif%}

{% endblock %}